.App{
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.head{
  width: 100vw;
  height: 700px;
  background-image: url('./Image/homePic.jpg');
  background-repeat: no-repeat;
}
.signUp{
  width: 73px;
  height: 33px;
  border-radius: 10%;
  border-style: none;
  background-color: red;
  color: white;
}
.headerContainer{
  flex-direction: row;
}
.netflix{
  font-size: 80px;
  color: #e40a15;
  font-weight: 200px;
}